executing==2.1.0
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
matplotlib==3.9.2
decorator==5.1.1
python-multipart==0.0.9
importlib_metadata==8.5.0
gmpy2==2.1.2
async-timeout==5.0.1
wordcloud==1.9.4
traitlets==5.14.3
nest_asyncio==1.6.0
jsonschema-specifications==2023.7.1
pip==24.3.1
multidict==6.1.0
ptyprocess==0.7.0
fastapi==0.115.6
mdurl==0.1.0
unicodedata2==15.1.0
lxml==5.3.0
gensim==4.3.3
scipy==1.13.1
GitPython==3.1.43
selenium==4.28.0
uvicorn==0.32.1
fonttools==4.55.3
filelock==3.13.1
python-dotenv==0.21.0
parso==0.8.4
colorama==0.4.6
tokenizers==0.21.0
torchvision==0.15.2a0
zipp==3.21.0
typer==0.15.1
umap-learn==0.5.7
huggingface_hub==0.24.6
propcache==0.2.0
contourpy==1.2.0
aiohttp==3.11.10
setuptools==75.8.0
requests==2.32.3
frozenlist==1.5.0
pickleshare==0.7.5
Jinja2==3.1.4
cryptography==43.0.3
pydantic==2.10.6
tqdm==4.66.5
pytest==8.3.4
safetensors==0.4.5
seaborn==0.13.2
h11==0.14.0
plotly==5.24.1
gitdb==4.0.7
kiwisolver==1.4.4
jedi==0.19.2
joblib==1.4.2
yarl==1.18.0
pytz==2024.1
annotated-types==0.6.0
httpcore==1.0.2
PySocks==1.7.1
jupyter_client==8.6.3
rich==13.9.4
pynndescent==0.5.13
asttokens==3.0.0
urllib3==2.3.0
scikit-learn==1.6.1
typer-slim==0.15.1
torch==2.5.1
pyzmq==26.2.0
appnope==0.1.4
numpy==1.26.4
fsspec==2024.3.1
tzdata==2023.3
numba==0.60.0
markdown-it-py==2.2.0
pandas-stubs==2.2.2.240807
tenacity==9.0.0
cffi==1.17.1
jsonschema==4.23.0
jpype1==1.5.1
transformers==4.48.2
nbformat==5.10.4
stack_data==0.6.3
appdirs==1.4.4
threadpoolctl==3.5.0
setproctitle==1.2.2
protobuf==4.25.3
pycparser==2.21
psutil==6.1.1
jupyter_core==5.7.2
xxhash==3.5.0
backcall==0.2.0
pyparsing==3.2.0
regex==2024.11.6
cycler==0.11.0
konlpy==0.6.0
watchfiles==0.24.0
sentence-transformers==3.4.1
iniconfig==1.1.1
fastapi-cli==0.0.7
python-dateutil==2.9.0.post0
mpmath==1.3.0
sortedcontainers==2.4.0
fastjsonschema==2.20.0
wcwidth==0.2.13
packaging==24.2
wandb==0.19.8
charset-normalizer==3.3.2
Bottleneck==1.4.2
shellingham==1.5.0
Brotli==1.0.9
pillow==11.0.0
certifi==2025.1.31
xgboost==2.1.3
trio-websocket==0.11.1
pydantic_core==2.27.2
rich-toolkit==0.11.3
prompt_toolkit==3.0.48
pymongo==4.8.0
smmap==4.0.0
multiprocess==0.70.15
idna==3.7
wheel==0.45.1
ipython==8.12.0
PyMySQL==1.1.1
pluggy==1.5.0
missingno==0.4.2
dill==0.3.8
comm==0.2.2
starlette==0.41.3
statsmodels==0.14.4
pure_eval==0.2.3
tornado==6.4.2
importlib_resources==6.4.0
SQLAlchemy==2.0.37
docker-pycreds==0.4.0
tomli==2.0.1
dnspython==2.4.2
smart-open==7.1.0
wrapt==1.17.2
numexpr==2.10.1
networkx==3.2.1
httptools==0.6.4
referencing==0.30.2
httpx==0.27.0
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
rpds-py==0.22.3
attrs==24.3.0
matplotlib-inline==0.1.7
sniffio==1.3.0
email_validator==2.2.0
websockets==10.4
types-pytz==2024.2.0.20241221
trio==0.26.2
webdriver_manager==4.0.2
aiosignal==1.2.0
anyio==4.6.2
uvloop==0.21.0
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
ipykernel==6.29.5
exceptiongroup==1.2.0
outcome==1.1.0
MarkupSafe==2.1.3
wsproto==1.2.0
patsy==0.5.6
datasets==3.2.0
debugpy==1.8.11
eval_type_backport==0.2.2
six==1.17.0
sympy==1.13.3
greenlet==3.1.1
click==8.1.7
tabulate==0.9.0
pyarrow==19.0.0
llvmlite==0.43.0
sentry-sdk==2.18.0
websocket-client==1.8.0
